/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: #444; }

p {
  line-height: 2rem; }

.sidenav-trigger {
  color: #26a69a; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

.articlebox {
  background: rgba(128, 128, 128, 0.8);
  width: 760px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  color: black;
  margin-top: 100px;
  margin-bottom: 100px; }

.articlehead {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background: black;
  color: white;
  margin: 0 auto; }

.articlebox-clear {
  background: clear;
  width: 760px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  position: relative; }

.brand-logo {
  height: 100%; }

img.responsive-img {
  height: 100%; }

#modal1 {
  width: 600px; }

.form-container {
  padding: 30px; }

.form-container .row {
  margin-bottom: 0; }

/* label color */
.input-field label {
  color: #9c9c9c; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #9c9c9c; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #9c9c9c;
  box-shadow: 0 1px 0 0 #9c9c9c; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #9c9c9c;
  box-shadow: 0 1px 0 0 #9c9c9c; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #9c9c9c;
  box-shadow: 0 1px 0 0 #9c9c9c; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #9c9c9c; }

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #009ddc;
  box-shadow: 0 1px 0 0 #009ddc; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #009ddc; }

.form-container .btn {
  background-color: #009ddc; }

.submitbtn {
  line-height: 48px;
  display: block;
  height: 48px;
  width: 100%; }

.form-container h3 {
  font-size: 42px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  top: -46px; }

@media all and (max-width: 640px) {
  .form-container {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px; }
  .form-container h3 {
    font-size: 24px;
    top: -26px; } }

footer {
  background-color: white; }

footer.page-footer {
  margin: 0;
  background-color: teal; }
